main {
    height: 80vh;
    overflow: auto;
    padding: $spacing*2;
}

.album-card {
    margin: $spacing;
    background-color: $card-color;
    border-radius: $spacing;
    text-align: center;
    flex-basis: calc(100% / 6);
    padding: $spacing*2;
    img {
        width: 150px;
        height: 150px;
        margin-bottom: $spacing*2;
    }
}